@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;700&display=swap');
:root {
  /*fonts: */
  --font-family:'Outfit' sans-serif;
  --font-size:15;
  --font-weight-normal:400;
  --font-weight-bold:700;
  /*colors*/
  --white:hsl(0, 0%, 100%);
  --light-gray:hsl(212, 45%, 89%);
  --grayish-blue:hsl(220, 15%, 55%);
  --dark-blue:hsl(218, 44%, 22%);
}

*{
  box-sizing: border-box;
  margin:0;
  padding:0;
}

body{
  font-family: var(--font-family);
  font-size:var(--font-size);
  font-weight: var(--font-weight-normal);
  height:100vh;
  width:100vw;
  background-color:var(--light-gray);
  color:var(--dark-blue);
}

#card{
  width: 330px;
  height: 503px;
  background-color: var(--white);
  border-radius: 15px;
  padding: 25px 20px;
  transform: translate(-50% , -50%);
  position:fixed;
  top:50%;
  left:50%;

}

#card > img{
  width:99%;
  display:block;
  margin:0 auto;
  border-radius: 15px;
}

#card > h2{
  text-align: center;
  font-weight: var(--font-weight-bold);
  margin: 20px 0px;
}

#card > p{
  text-align: center;
  color:var(--grayish-blue);
  margin: 0 14px;
}